*.class
*.war
*.ear
*.orig

# eclipse
target/
.settings/
.project
.classpath

# idea
.idea/
/idea/
*.ipr
*.iml
*.iws


# temp files
*.log
*.cache
*.diff
*.path
*.tmp

# system ignore
.DS_Store
Thumbs.db

/bin/